1blinker
Brotli
cachelib
cachetools
certifi
charset-normalizer
click
dropbox
Flask
Flask-Caching
Flask-Login
Flask-Mail
Flask-SQLAlchemy
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
greenlet
httplib2
idna
itsdangerous
Jinja2
MarkupSafe
mutagen
oauthlib
passlib
ply
proto-plus
protobuf
pyasn1
pyasn1_modules
pycryptodomex 
pyparsing
python-dotenv
python-pip
requests
requests-oauthlib
rsa
six
SQLAlchemy
stone
typing_extensions
uritemplate
urllib3
websockets
Werkzeug
youtube-dl
yt-dlp 
